In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

def scrape_news_by_date(company_name, start_date, end_date):
    base_url = f"https://finance.yahoo.com/quote/{company_name}/news"
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
    }

    all_news = []
    current_date = start_date
    while current_date <= end_date:
        date_url = f"{base_url}?p={company_name}&date={current_date}"
        response = requests.get(date_url, headers=headers)

        if response.status_code == 200:
            soup = BeautifulSoup(response.content, "html.parser")
            news_articles = soup.find_all("h3", class_="Mb(5px)")

            for article in news_articles:
                headline = article.text
                article_link = article.a['href']
                all_news.append({'Date': current_date, 'Headline': headline})

        else:
            print(f"Failed to fetch news for {current_date}")

        current_date += pd.DateOffset(days=1)  # Move to the next day

    return all_news


company_ticker = "TCS.NS"

# Define the start and end dates for scraping
start_date = pd.to_datetime('2021-12-09')
end_date = pd.to_datetime('2023-12-08')

# Scrape news for the specified date range
news_data = scrape_news_by_date(company_ticker, start_date, end_date)


df = pd.DataFrame(news_data)

# Save the data to a CSV file
df.to_csv('tcs_news.csv', index=False)

In [ ]:
!pip install demoji
import demoji
import re
import string
from nltk.corpus import stopwords,wordnet
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import TweetTokenizer
from nltk import pos_tag
import attr
import nltk

Requirement already satisfied: demoji in /usr/local/lib/python3.10/dist-packages (1.1.0)

In [ ]:
# This function is used to pass the POS tage for each word passed through clean_text function
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}

    return tag_dict.get(tag, wordnet.NOUN)

In [ ]:
# Cleaning
def clean_text(text):
    # Initialization the tokenizer
    tk = TweetTokenizer(preserve_case=False, strip_handles=True,reduce_len=True)
    # Initialization the lemmatizer
    lemmatizer = WordNetLemmatizer()
    # Avoid deleting the negative verbs as it affects the meaning.
    stop_words = stopwords.words('english') + ["i'll","i'm", "should", "could"]
    negative_verbs = [ "shan't",'shouldn',"shouldn't",'wasn','weren','won','wouldn','aren','couldn','didn','doesn','hadn','hasn','haven','isn','ma','mightn','mustn',"mustn't",'needn',"needn't","wouldn't","won't","weren't","wasn't","couldn","not","nor","no","mightn't","isn't","haven't","hadn't","hasn't","didn't","doesn't","aren't","don't","couldn't","never"]
    stop_words =[word for word in stop_words if word not in negative_verbs ]

    # Lowering text
    lower_news = text.lower()
    # Removing hashtag and cashtag symbols
    news = re.sub(r"[#$]"," ",lower_news)
    # Removing links
    news = re.sub(r"https?:\/\/.*[\r\n]*"," ", news)
    # Translating emojies into thier descriptions
    news = demoji.replace_with_desc(news)
    # removing numerical values
    news = re.sub(r"[0-9]|-->","",news)
    # Tokenize the tweets by twitter tokenzier.
    news = tk.tokenize(news)
    # Choosing the words that don't exist in stopwords, thier lengths are more than 2 letters and then lemmatize them.
    news = [lemmatizer.lemmatize(word, get_wordnet_pos(word)) for word in news if word not in stop_words and word not in string.punctuation and len(word)>2 and "." not in word]
    # return the tokens in one sentence
    news = " ".join(news)

    return news

In [ ]:
# Read the scrapped file
news = pd.read_csv("tcs_news.csv")
news.head()

         Date                                           Headline
0  2021-12-09  Tata Tech Adds Billions to Market Capitalizati...
1  2021-12-09  India's TCS to take $125 million hit to Q3 ear...
2  2021-12-10  Tata Tech Adds Billions to Market Capitalizati...
3  2021-12-10  India's TCS to take $125 million hit to Q3 ear...
4  2021-12-11  Tata Tech Adds Billions to Market Capitalizati...

In [ ]:
import nltk
nltk.download('stopwords')
import nltk
nltk.download('averaged_perceptron_tagger')
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
# Applying text cleaning and then downloading it on the current folder
news['cleaned'] = news["Headline"].apply(lambda row:clean_text(row))
news.to_csv("CleanedNews.csv",index=False)

In [ ]:
news = pd.read_csv("CleanedNews.csv")
news.head()

,Date,Headline,cleaned
0,2021-12-09,Tata Tech Adds Billions to Market Capitalizati...,tata tech add billion market capitalization in...
1,2021-12-09,India's TCS to take $125 million hit to Q3 ear...,india's tc take million hit earnings lawsuit
2,2021-12-10,Tata Tech Adds Billions to Market Capitalizati...,tata tech add billion market capitalization in...
3,2021-12-10,India's TCS to take $125 million hit to Q3 ear...,india's tc take million hit earnings lawsuit
4,2021-12-11,Tata Tech Adds Billions to Market Capitalizati...,tata tech add billion market capitalization in...

In [ ]:
news = news.loc[:,["Date","cleaned"]]
news.head()

         Date                                            cleaned
0  2021-12-09  tata tech add billion market capitalization in...
1  2021-12-09       india's tc take million hit earnings lawsuit
2  2021-12-10  tata tech add billion market capitalization in...
3  2021-12-10       india's tc take million hit earnings lawsuit
4  2021-12-11  tata tech add billion market capitalization in...

In [ ]:
# adding empty sentiment columns to stock_data for later calculation
news['compound'] = ''
news['negative'] = ''
news['neutral'] = ''
news['positive'] = ''
news.head()

,Date,cleaned,compound,negative,neutral,positive
0,2021-12-09,tata tech add billion market capitalization in...,,,,
1,2021-12-09,india's tc take million hit earnings lawsuit,,,,
2,2021-12-10,tata tech add billion market capitalization in...,,,,
3,2021-12-10,india's tc take million hit earnings lawsuit,,,,
4,2021-12-11,tata tech add billion market capitalization in...,,,,

In [ ]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import unicodedata

# instantiating the Sentiment Analyzer
sid = SentimentIntensityAnalyzer()

# calculating sentiment scores
news['compound'] = news['cleaned'].apply(lambda x: sid.polarity_scores(x)['compound'])
news['negative'] = news['cleaned'].apply(lambda x: sid.polarity_scores(x)['neg'])
news['neutral'] = news['cleaned'].apply(lambda x: sid.polarity_scores(x)['neu'])
news['positive'] = news['cleaned'].apply(lambda x: sid.polarity_scores(x)['pos'])

In [ ]:
news['Date'] = pd.to_datetime(news['Date'])
news_df = news.groupby('Date').mean().reset_index()
news_df['Date'] =pd.to_datetime(news_df['Date'],infer_datetime_format=True)
news_df['Date'] =pd.to_datetime(news_df['Date'].dt.strftime("%m/%d/%y"))
news_df.head()

<ipython-input-14-d7f1895ef8f6>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  news_df = news.groupby('Date').mean().reset_index()

        Date  compound  negative  neutral  positive
0 2021-12-09  -0.11315    0.1205   0.8795       0.0
1 2021-12-10  -0.11315    0.1205   0.8795       0.0
2 2021-12-11  -0.11315    0.1205   0.8795       0.0
3 2021-12-12  -0.11315    0.1205   0.8795       0.0
4 2021-12-13  -0.11315    0.1205   0.8795       0.0

In [ ]:
news_df.set_index("Date", inplace=True)

In [ ]:
tcs_df = pd.read_csv("/content/tcs_df.csv")
tcs_df['Date'] = pd.to_datetime(tcs_df['Date'],infer_datetime_format=True)
tcs_df.set_index("Date", inplace=True)
tcs_df

               Open     High      Low    Close   Volume
Date
2021-12-09  3613.00  3632.40  3567.00  3603.60    77990
2021-12-10  3585.00  3640.85  3575.10  3636.55    78298
2021-12-13  3647.00  3660.00  3603.00  3610.10    52114
2021-12-14  3601.00  3634.40  3576.15  3622.80    87750
2021-12-15  3610.00  3622.70  3558.60  3569.60    70817
2021-12-16  3580.00  3607.25  3570.50  3581.35    19480
2021-12-17  3601.00  3650.00  3573.15  3587.20    82484
2021-12-20  3570.10  3605.00  3509.85  3557.10   160727
2021-12-21  3585.00  3639.60  3568.05  3608.45   104021
2021-12-22  3612.00  3636.00  3605.40  3630.00    68470
2021-12-23  3640.50  3671.00  3630.05  3662.80    62978
2021-12-24  3676.00  3703.90  3645.30  3670.25   141802
2021-12-27  3670.00  3700.00  3653.15  3695.55    37807
2021-12-28  3715.00  3724.50  3694.05  3707.30    34438
2021-12-29  3700.00  3719.45  3684.40  3693.15    75965
2021-12-30  3693.00  3739.60  3680.55  3733.15    45572
2021-12-31  3736.05  3759.80  3731.55  3736.85    51482
2022-01-03  3744.00  3829.00  3743.95  3818.15    67010
2022-01-04  3829.05  3888.00  3810.00  3882.70   342652
2022-01-05  3865.00  3870.10  3811.00  3861.05    54550
2022-01-06  3816.00  3834.75  3771.35  3806.85   111898
2022-01-07  3809.10  3864.45  3796.00  3854.85    41904
2022-01-10  3974.00  3979.90  3861.85  3879.35   244605
2022-01-11  3859.00  3925.85  3853.80  3915.80    80161
2022-01-12  3927.80  3930.15  3836.80  3857.25   122701
2022-01-13  3934.00  3944.40  3857.25  3897.65   368315
2022-01-14  3880.00  3978.30  3860.10  3969.25   280512
2022-01-17  3998.00  4043.00  3963.00  4019.10   295249
2022-01-18  4045.50  4045.50  3981.00  3990.25   110328
2022-01-19  4018.00  4018.00  3911.75  3915.80   138761
2022-01-20  3915.00  3915.00  3814.00  3827.85   289388
2022-01-21  3814.00  3851.00  3771.75  3834.85   231443
2022-01-24  3841.00  3850.15  3741.00  3771.50   288622
2022-01-25  3771.00  3809.20  3723.05  3770.10   229135
2022-01-27  3740.00  3740.00  3626.25  3650.10   408154
2022-01-28  3659.00  3729.00  3650.00  3690.25   213927
2022-01-31  3742.20  3758.05  3721.70  3737.90   140447
2022-02-01  3780.00  3809.00  3735.60  3800.65   142772
2022-02-02  3823.00  3864.00  3800.65  3857.00    72720
2022-02-03  3845.00  3882.95  3815.00  3825.00   114933
2022-02-04  3810.00  3825.00  3769.20  3814.65   107911
2022-02-07  3800.00  3832.40  3756.10  3778.60    81224
2022-02-08  3794.90  3801.75  3721.15  3742.40    85663
2022-02-09  3762.00  3778.00  3748.00  3761.25    43296
2022-02-10  3785.00  3788.60  3758.30  3771.20    67626
2022-02-11  3752.00  3752.00  3690.60  3695.60   172871
2022-02-14  3734.00  3794.15  3710.00  3734.25   411550
2022-02-15  3785.45  3833.00  3749.95  3817.70   280664
2022-02-16  3852.00  3856.00  3805.90  3813.55   171784
2022-02-17  3830.00  3835.15  3780.00  3784.45   253743
2022-02-18  3769.00  3815.95  3756.00  3794.80   340554
2022-02-21  3812.00  3828.90  3705.80  3720.25   581891
2022-02-22  3649.00  3662.95  3570.80  3586.65   333134
2022-02-23  3604.70  3639.85  3555.85  3565.30   208645
2022-02-24  3475.00  3490.00  3392.05  3402.25   414928
2022-02-25  3452.25  3530.00  3452.25  3519.70   231297
2022-02-28  3493.00  3563.90  3456.70  3554.55    75954
2022-03-02  3560.10  3570.65  3506.95  3544.35   137462
2022-03-03  3568.00  3578.50  3530.85  3544.45    87974
2022-03-04  3500.00  3561.40  3485.00  3525.20   107978
2022-03-07  3469.00  3547.45  3351.00  3485.30   244599
2022-03-08  3458.00  3608.00  3458.00  3599.95   191722
2022-03-09  3610.00  3654.00  3599.00  3633.35   137528
2022-03-10  3685.00  3685.00  3614.60  3620.10   126839
2022-03-11  3614.00  3641.70  3594.00  3600.70    43118
2022-03-14  3584.00  3648.00  3580.00  3642.70   138512
2022-03-15  3656.50  3658.70  3586.00  3595.40    37001
2022-03-16  3653.70  3667.00  3600.00  3654.25    80789
2022-03-17  3692.00  3709.60  3661.00  3675.20    79044
2022-03-21  3700.00  3713.95  3615.00  3625.25    90739
2022-03-22  3630.10  3712.00  3625.50  3700.95    50288
2022-03-23  3709.00  3730.00  3689.60  3708.25   133080
2022-03-24  3700.00  3757.60  3699.95  3750.00    52182
2022-03-25  3753.00  3778.05  3672.95  3707.95   104788
2022-03-28  3698.00  3712.50  3660.65  3706.05   127823
2022-03-29  3690.00  3721.00  3690.00  3704.95   139652
2022-03-30  3738.00  3738.00  3707.05  3730.65    70417
2022-03-31  3736.00  3754.00  3720.05  3738.80    52924
2022-04-01  3746.15  3762.45  3729.00  3756.85    84280
2022-04-04  3761.00  3779.00  3738.05  3769.80    56385
2022-04-05  3792.00  3835.50  3775.55  3814.05   127222
2022-04-06  3812.65  3812.65  3732.30  3756.15    76724
2022-04-07  3740.05  3743.30  3676.00  3684.95   172534
2022-04-08  3690.00  3705.00  3643.85  3686.85   138607
2022-04-11  3698.00  3711.25  3656.85  3696.40   168596
2022-04-12  3680.00  3738.60  3650.05  3691.45   283042
2022-04-13  3703.00  3710.05  3657.00  3661.30   106056
2022-04-18  3620.00  3620.00  3524.00  3528.45   183837
2022-04-19  3550.00  3563.60  3440.00  3474.30   207746
2022-04-20  3489.75  3569.00  3481.05  3555.95   183652
2022-04-21  3589.00  3643.00  3568.50  3629.95    42124
2022-04-22  3580.00  3617.00  3571.20  3611.85   303745
2022-04-25  3561.10  3583.00  3534.00  3547.70    76976
2022-04-26  3565.00  3587.30  3520.00  3544.65    71786
2022-04-27  3540.00  3568.05  3506.00  3561.30    94285
2022-04-28  3585.00  3603.80  3539.00  3584.00    85289
2022-04-29  3597.00  3621.95  3537.40  3550.10    47354
2022-05-02  3513.00  3548.40  3494.00  3542.05   103847
2022-05-04  3540.00  3545.20  3465.55  3482.45  1062687
2022-05-05  3506.05  3532.95  3486.60  3513.30    74099
2022-05-06  3468.45  3474.70  3425.05  3433.00   134551
2022-05-09  3393.00  3455.50  3348.75  3446.10   185666
2022-05-10  3440.00  3464.90  3425.00  3437.25    95068
2022-05-11  3434.00  3447.50  3382.00  3412.90    66515
2022-05-12  3400.00  3448.40  3350.10  3411.00   158049
2022-05-13  3441.00  3441.30  3383.15  3413.45   142500
2022-05-16  3414.00  3429.50  3366.85  3376.65    32081
2022-05-17  3369.95  3466.40  3351.25  3452.20    37639
2022-05-18  3460.00  3495.00  3443.05  3449.00    59292
2022-05-19  3376.00  3402.60  3231.05  3270.70   494805
2022-05-20  3309.00  3314.00  3271.15  3293.90   137393
2022-05-23  3315.00  3338.00  3267.05  3320.95    88129
2022-05-24  3311.00  3320.95  3276.50  3288.05   105893
2022-05-25  3286.00  3286.55  3155.00  3166.60   235534
2022-05-26  3190.00  3242.00  3181.00  3228.60   110339
2022-05-27  3249.00  3278.85  3230.00  3262.20   146145
2022-05-30  3273.85  3385.80  3273.85  3375.55   117464
2022-05-31  3355.00  3382.95  3324.10  3364.80    72520
2022-06-01  3385.00  3388.00  3342.50  3356.50   121714
2022-06-02  3357.00  3432.25  3350.05  3422.95   104828
2022-06-03  3454.70  3477.50  3431.55  3438.80    65791
2022-06-06  3421.00  3453.10  3378.00  3430.25    34827
2022-06-07  3420.00  3420.00  3356.20  3362.00    26386
2022-06-08  3372.00  3413.45  3347.00  3403.05    79401
2022-06-09  3373.00  3436.40  3354.15  3426.55    46081
2022-06-10  3388.00  3390.15  3352.10  3365.35   116639
2022-06-13  3291.00  3293.00  3194.00  3220.15   168993
2022-06-14  3198.00  3238.90  3178.90  3211.25   168330
2022-06-15  3214.95  3234.00  3201.10  3206.80    87160
2022-06-16  3237.40  3241.65  3134.00  3142.35   175120
2022-06-17  3099.65  3110.55  3023.35  3089.25   276257
2022-06-20  3094.50  3138.60  3069.70  3113.20    94264
2022-06-21  3128.00  3237.30  3125.00  3212.00   106881
2022-06-22  3201.00  3249.00  3184.15  3222.00    94514
2022-06-23  3222.00  3317.00  3222.00  3309.00   371935
2022-06-24  3344.00  3344.00  3278.00  3292.95   107346
2022-06-27  3338.00  3361.70  3306.40  3312.65    38084
2022-06-28  3312.65  3326.25  3274.00  3318.95    31985
2022-06-29  3270.00  3332.90  3270.00  3291.05   108986
2022-06-30  3270.00  3310.95  3254.00  3265.25    41813
2022-07-01  3262.00  3332.45  3252.00  3316.15    34282
2022-07-04  3315.00  3316.60  3225.80  3234.65   113323
2022-07-05  3252.00  3272.00  3209.00  3216.15   138816
2022-07-06  3216.00  3267.90  3202.40  3260.30   101238
2022-07-07  3269.95  3319.00  3265.00  3286.95    77239
2022-07-08  3297.00  3300.25  3250.05  3264.85    76501
2022-07-11  3220.00  3223.05  3105.85  3113.25   202245
2022-07-12  3125.00  3136.20  3081.00  3084.65   188774
2022-07-13  3108.50  3109.90  3033.70  3038.55   107114
2022-07-14  3060.00  3060.00  2968.00  2998.70   167339
2022-07-15  3015.00  3028.00  2953.00  2993.55   120629
2022-07-18  3023.40  3076.45  3015.00  3060.35  1742719
2022-07-19  3026.00  3078.95  3026.00  3075.10   103279
2022-07-20  3109.45  3170.85  3098.00  3163.95   217944
2022-07-21  3167.10  3183.55  3144.10  3177.70    51548
2022-07-22  3180.00  3197.00  3142.10  3171.00    81444
2022-07-25  3169.00  3185.00  3148.35  3167.30    61457
2022-07-26  3163.95  3166.95  3096.55  3115.85    96329
2022-07-27  3102.00  3194.10  3102.00  3188.35    44030
2022-07-28  3214.90  3264.00  3201.35  3260.20    80279
2022-07-29  3290.20  3316.60  3276.00  3300.80    55026
2022-08-01  3327.05  3329.00  3271.00  3299.20  1310532
2022-08-02  3281.00  3311.45  3272.00  3290.05    75259
2022-08-03  3289.50  3349.00  3276.70  3339.60    47351
2022-08-04  3352.00  3387.95  3306.65  3354.15   128302
2022-08-05  3354.00  3377.00  3354.00  3365.25    25229
2022-08-08  3361.00  3378.90  3335.50  3373.95    86210
2022-08-10  3377.10  3380.30  3335.00  3356.00    72060
2022-08-11  3393.00  3428.00  3377.00  3422.45   124557
2022-08-12  3420.00  3420.10  3382.00  3399.80   112772
2022-08-16  3403.05  3413.50  3387.80  3392.95    22937
2022-08-17  3385.00  3417.00  3371.00  3400.65   111891
2022-08-18  3399.00  3399.00  3361.70  3381.25   137979
2022-08-19  3388.00  3421.00  3371.05  3385.25   140465
2022-08-22  3369.00  3384.45  3347.00  3354.25    96277
2022-08-23  3324.25  3340.90  3274.55  3283.75   122593
2022-08-24  3295.00  3307.85  3251.00  3255.35    53777
2022-08-25  3270.20  3279.95  3213.50  3218.10    91523
2022-08-26  3234.85  3257.00  3218.10  3221.65    28323
2022-08-29  3145.00  3145.00  3081.30  3133.70   114608
2022-08-30  3148.00  3226.95  3143.20  3211.60   117816
2022-09-01  3189.60  3189.60  3121.20  3131.55   431542
2022-09-02  3160.00  3161.40  3121.50  3129.65   108411
2022-09-05  3129.65  3147.45  3113.50  3132.85   224678
2022-09-06  3134.20  3140.95  3106.10  3128.85    67799
2022-09-07  3117.00  3160.90  3102.00  3151.10   105750
2022-09-08  3164.00  3183.70  3160.45  3169.85    96753
2022-09-09  3190.30  3232.00  3168.85  3217.30   197742
2022-09-12  3233.85  3268.70  3226.75  3241.30    90748
2022-09-13  3260.00  3263.15  3225.00  3229.40   129890
2022-09-14  3135.00  3142.00  3114.75  3120.85   373125
2022-09-15  3127.00  3140.65  3101.00  3104.35   192170
2022-09-16  3088.00  3097.95  3001.00  3008.65   352662
2022-09-19  3025.00  3042.95  2988.35  3028.55   855360
2022-09-20  3050.00  3079.90  3031.00  3041.40   112804
2022-09-21  3029.00  3040.80  3000.00  3001.75   124329
2022-09-22  2986.15  3029.95  2980.00  3007.60   148264
2022-09-23  3006.10  3021.95  2980.10  2982.80   145153
2022-09-26  2978.00  3024.50  2926.00  2994.75   181320
2022-09-27  3014.45  3025.00  2976.00  3018.65   152031
2022-09-28  2980.00  3049.00  2980.00  3037.35   129003
2022-09-29  3042.00  3052.50  2990.70  2997.35   116665
2022-09-30  2995.00  3019.00  2950.10  3004.60   167509
2022-10-03  3004.60  3020.45  2973.85  2985.70   161101
2022-10-04  3020.00  3097.50  3020.00  3092.50   113230
2022-10-06  3103.00  3124.10  3092.50  3104.70   185886
2022-10-07  3099.00  3104.85  3059.00  3064.95   190047
2022-10-10  3013.10  3129.90  3013.05  3121.20   227444
2022-10-11  3100.00  3144.55  3054.75  3068.95  1428966
2022-10-12  3093.80  3110.00  3063.25  3100.75    77306
2022-10-13  3104.60  3110.00  3053.30  3101.05   123897
2022-10-14  3136.00  3149.00  3071.05  3097.65   127684
2022-10-17  3082.00  3127.50  3072.55  3111.65  1207533
2022-10-18  3145.00  3153.55  3128.90  3143.75    41737
2022-10-19  3139.85  3153.35  3112.55  3120.75    50767
2022-10-20  3112.00  3160.00  3104.50  3154.85    35915
2022-10-21  3154.85  3159.00  3127.65  3139.40    93476
2022-10-24  3160.00  3178.00  3155.00  3161.95    42704
2022-10-25  3180.00  3183.95  3150.85  3161.80   142516
2022-10-27  3159.00  3173.35  3134.60  3156.15    42161
2022-10-28  3156.15  3178.40  3147.05  3162.95    36819
2022-10-31  3193.00  3199.30  3178.45  3193.05    80343
2022-11-01  3209.00  3261.65  3205.05  3259.60    52959
2022-11-02  3270.00  3270.00  3222.15  3242.75   146673
2022-11-03  3225.00  3225.45  3195.00  3207.15  1567293
2022-11-04  3207.15  3220.00  3168.00  3216.30   112298
2022-11-07  3225.00  3242.00  3196.15  3234.25   121301
2022-11-09  3236.00  3245.60  3202.00  3215.95   107468
2022-11-10  3175.00  3225.15  3172.40  3206.00   114990
2022-11-11  3262.00  3341.25  3253.60  3316.10   308454
2022-11-14  3321.00  3349.00  3307.30  3334.05   145040
2022-11-15  3325.00  3341.15  3291.80  3332.65   132868
2022-11-16  3334.00  3367.00  3322.05  3354.05   196455
2022-11-17  3343.00  3358.65  3318.30  3351.40    46877
2022-11-18  3346.00  3361.40  3321.15  3341.80   138271
2022-11-21  3330.00  3332.20  3274.70  3282.30    26113
2022-11-22  3272.00  3318.95  3255.05  3314.25    23411
2022-11-23  3330.00  3330.00  3290.75  3310.40    73213
2022-11-24  3315.00  3392.00  3307.05  3378.50   150131
2022-11-25  3378.00  3402.00  3348.00  3388.85    80720
2022-11-28  3371.00  3416.20  3365.00  3397.40    95814
2022-11-29  3380.25  3428.00  3380.25  3397.10   166776
2022-11-30  3390.00  3413.15  3375.05  3392.40    32178
2022-12-01  3421.00  3479.65  3421.00  3475.10   261887
2022-12-02  3460.00  3468.00  3414.00  3439.25    83358
2022-12-05  3424.00  3435.85  3407.30  3425.00    77725
2022-12-06  3400.00  3407.85  3367.85  3384.35    50436
2022-12-07  3367.00  3394.65  3354.05  3380.60    45278
2022-12-08  3374.00  3374.00  3339.05  3350.30   106443
2022-12-09  3366.00  3372.00  3277.00  3292.65    68806
2022-12-12  3250.00  3295.00  3236.35  3284.50    80179
2022-12-13  3280.20  3339.40  3269.00  3331.90    36869
2022-12-14  3341.00  3378.05  3341.00  3364.70    39334
2022-12-15  3364.00  3364.00  3300.00  3304.55    56212
2022-12-16  3280.00  3291.10  3225.10  3238.10    66727
2022-12-19  3234.00  3246.00  3195.00  3201.60    90877
2022-12-20  3201.00  3248.05  3164.00  3242.90    28562
2022-12-21  3249.00  3283.00  3239.35  3267.15    91096
2022-12-22  3288.00  3290.95  3244.60  3258.70    41242
2022-12-23  3235.10  3265.85  3218.70  3227.30    88714
2022-12-26  3225.00  3271.95  3225.00  3255.85    18484
2022-12-27  3265.00  3273.95  3230.60  3259.05    34548
2022-12-28  3245.00  3266.95  3226.80  3256.30    41409
2022-12-29  3233.00  3271.00  3229.05  3269.25    52967
2022-12-30  3285.00  3299.05  3246.75  3259.25   182089
2023-01-02  3265.00  3267.00  3235.85  3260.65    72106
2023-01-03  3260.00  3319.55  3247.70  3310.85    45996
2023-01-04  3304.00  3326.85  3286.85  3314.05    42280
2023-01-05  3330.00  3336.10  3283.10  3310.35    54074
2023-01-06  3300.00  3300.05  3200.00  3212.00    91907
2023-01-09  3243.90  3327.80  3215.30  3319.70   169062
2023-01-10  3290.00  3292.50  3231.00  3286.20    94932
2023-01-11  3289.00  3349.00  3272.00  3328.85    72414
2023-01-12  3333.00  3350.00  3316.00  3334.60    83856
2023-01-13  3349.00  3379.10  3305.20  3374.20    98757
2023-01-16  3320.00  3352.40  3298.75  3334.40    64489
2023-01-17  3334.00  3383.00  3319.75  3378.85   121563
2023-01-18  3373.55  3407.65  3371.00  3390.55   107557
2023-01-19  3380.00  3387.10  3360.55  3372.40    77208
2023-01-20  3369.70  3393.80  3356.20  3361.65    46357
2023-01-23  3375.30  3418.00  3358.00  3414.00    46966
2023-01-24  3423.00  3451.75  3416.10  3435.85    55283
2023-01-25  3425.00  3435.95  3405.70  3431.55    39744
2023-01-27  3430.00  3447.00  3382.15  3410.40    91518
2023-01-30  3413.55  3457.95  3387.15  3435.40    59893
2023-01-31  3442.05  3444.85  3347.70  3357.45    79115
2023-02-01  3380.00  3418.00  3355.60  3407.65    43182
2023-02-02  3407.05  3468.30  3407.05  3461.95    48456
2023-02-03  3492.60  3498.00  3452.45  3481.85   125650
2023-02-06  3475.00  3475.00  3437.00  3460.00    21416
2023-02-07  3464.00  3492.00  3460.15  3470.65    80033
2023-02-08  3472.00  3539.50  3472.00  3518.70    50900
2023-02-09  3518.70  3547.95  3504.00  3541.15    32844
2023-02-10  3512.05  3541.15  3506.65  3535.45    48411
2023-02-13  3548.00  3548.00  3475.00  3482.75    26143
2023-02-14  3499.00  3524.20  3496.10  3499.15   141270
2023-02-15  3490.00  3525.00  3460.45  3518.90    30042
2023-02-16  3530.00  3575.00  3526.00  3553.95    57676
2023-02-17  3525.00  3536.75  3489.95  3499.65    50877
2023-02-20  3506.00  3522.00  3475.20  3486.10    43050
2023-02-21  3489.00  3507.95  3445.00  3449.40   102243
2023-02-22  3424.90  3447.55  3395.10  3400.55    41593
2023-02-23  3410.50  3453.75  3408.00  3414.10    41914
2023-02-24  3421.20  3434.00  3382.55  3400.05    35329
2023-02-27  3397.90  3397.90  3317.30  3331.85    30683
2023-02-28  3331.85  3392.00  3300.05  3314.15    56090
2023-03-01  3326.50  3389.05  3320.00  3385.85    48789
2023-03-02  3369.95  3369.95  3318.00  3321.15    48727
2023-03-03  3360.00  3360.00  3331.00  3342.75    15677
2023-03-06  3356.00  3404.00  3356.00  3371.50    57870
2023-03-08  3361.00  3395.00  3331.70  3389.70    30873
2023-03-09  3389.70  3389.70  3329.00  3337.45    48171
2023-03-10  3311.00  3337.00  3295.00  3331.05    54663
2023-03-13  3331.05  3369.25  3272.00  3282.40    81352
2023-03-14  3275.55  3304.00  3210.00  3216.85   240605
2023-03-15  3242.55  3261.20  3191.00  3198.75    95877
2023-03-16  3196.00  3219.00  3171.45  3184.75    52784
2023-03-17  3151.00  3220.00  3145.00  3178.95   269767
2023-03-20  3173.50  3173.50  3096.10  3141.20    52684
2023-03-21  3145.00  3155.00  3097.00  3105.90    34240
2023-03-22  3121.35  3143.60  3106.10  3130.70    33080
2023-03-23  3117.00  3144.00  3100.80  3124.00    26541
2023-03-24  3145.00  3169.70  3108.80  3121.45    34882
2023-03-27  3123.85  3151.95  3105.85  3120.10    77555
2023-03-28  3122.00  3145.35  3110.00  3115.50    31013
2023-03-29  3125.00  3149.00  3105.00  3138.10    25771
2023-03-31  3191.00  3214.00  3153.00  3205.80    39813
2023-04-03  3225.00  3225.00  3175.00  3199.25    29210
2023-04-05  3190.00  3263.60  3185.75  3236.80   188173
2023-04-06  3227.50  3256.90  3216.70  3221.70   139159
2023-04-10  3217.00  3271.00  3215.55  3263.20   101932
2023-04-11  3275.00  3275.00  3193.20  3214.25   103589
2023-04-12  3218.00  3259.95  3200.00  3242.10   126563
2023-04-13  3210.05  3226.00  3181.05  3189.85   232961
2023-04-17  3150.00  3163.35  3070.30  3139.60   191858
2023-04-18  3148.05  3155.80  3111.30  3131.30   151970
2023-04-19  3126.00  3132.05  3072.35  3088.70   185687
2023-04-20  3100.00  3112.95  3079.00  3104.45    76175
2023-04-21  3101.00  3165.75  3101.00  3161.65    58734
2023-04-24  3151.00  3180.60  3126.60  3174.15   122196
2023-04-25  3180.00  3190.85  3148.90  3175.30    76223
2023-04-26  3176.00  3207.00  3176.00  3199.70    40943
2023-04-27  3200.00  3200.00  3171.00  3187.10    80128
2023-04-28  3208.00  3227.20  3197.15  3216.00    51644
2023-05-02  3217.00  3232.10  3211.00  3219.20    69567
2023-05-03  3209.05  3215.75  3174.05  3180.30    53799
2023-05-04  3191.95  3224.50  3181.00  3220.35    74186
2023-05-05  3220.30  3242.90  3210.00  3230.85    23445
2023-05-08  3230.85  3253.00  3230.85  3249.95    53011
2023-05-09  3247.00  3298.20  3246.50  3283.90    23799
2023-05-10  3288.00  3306.30  3268.00  3285.95    62216
2023-05-11  3306.00  3309.00  3272.50  3281.50    22830
2023-05-12  3281.50  3290.00  3259.35  3273.75    19204
2023-05-15  3280.50  3292.75  3249.15  3253.15    20898
2023-05-16  3262.00  3283.90  3250.75  3257.00    20043
2023-05-17  3251.00  3272.45  3198.65  3209.10    21459

In [ ]:
final_df = tcs_df.join(news_df,on='Date',how="inner")
final_df.head()

,Open,High,Low,Close,Volume,compound,negative,neutral,positive
Date,,,,,,,,,
2021-12-09,3613.0,3632.40,3567.00,3603.60,77990,-0.11315,0.1205,0.8795,0.0
2021-12-10,3585.0,3640.85,3575.10,3636.55,78298,-0.11315,0.1205,0.8795,0.0
2021-12-13,3647.0,3660.00,3603.00,3610.10,52114,-0.11315,0.1205,0.8795,0.0
2021-12-14,3601.0,3634.40,3576.15,3622.80,87750,-0.11315,0.1205,0.8795,0.0
2021-12-15,3610.0,3622.70,3558.60,3569.60,70817,-0.11315,0.1205,0.8795,0.0

In [ ]:
final_df.reset_index(inplace=True)

In [ ]:
final_df.to_csv('final_df.csv', index=False)